{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Homepage</button></a></p>

<h1>{{ item.name }}</h1>
<p><b>Price: {{ item.price }}</b> | Brand: {{ item.brand }} | Stock: {{ item.stock }} | <b>{{ item.get_category_display }}</b>{% if item.is.item_popular %} | 
    <b>Popular</b>{% endif %} </p>

{% if item.thumbnail %}
<img src="{{ item.thumbnail }}" alt="Item thumbnail" width="300">
<br /><br />
{% endif %}

<p>{{ item.description }}</p>

{% endblock content %}