{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Back to Homepage</button></a></p>

<h1>{{ product.name }}</h1>
<p><b>Price: {{ product.price }}</b> | Brand: {{ product.brand }} | Stock: {{ product.stock }} | <b>{{ product.get_category_display }}</b>{% if product.is.product_popular %} | 
    <b>Popular</b>{% endif %} </p>

{% if product.thumbnail %}
<img src="{{ product.thumbnail }}" alt="Product thumbnail" width="300">
<br /><br />
{% endif %}

<p>{{ product.description }}</p>

{% endblock content %}